<div id="asciidoc-settings-panel">
    <div class="ad-settings-row">
        <span class="ad-settings-label">Doctype</span>
        <select id="asciidoc-preview-doctype">
            <option>article</option>
            <option>book</option>
        </select>
    </div>
    <div class="ad-settings-row">
        <span class="ad-settings-label">Numbered headings</span>
        <input type="checkbox" id="asciidoc-preview-numbered" value="numbered"></input>
    </div>
    <div class="ad-settings-row">
        <span class="ad-settings-label">Theme</span>
        <select id="asciidoc-preview-theme">
            <option value="default">Default</option>
            <option value="cerulean">Cerulean</option>
            <option value="slate">Slate</option>
        </select>
    </div>
</div>
