/*
 * Some default theme styling of scrollbars.
 * Changing themes will not change this,
 * just not worth the effort.
 */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 999px;
    border-radius: 999px;
    background: rgb(166, 166, 166);
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(206, 206, 206);
}

#asciidoc-preview-console {
    overflow: auto;
    position: fixed;
    border-top: 1px solid red;
    bottom: 0;
    background-color: white;
    margin: 0;
    width: 100%;
    max-width: 100%;
    max-height: 100px;
}

#asciidoc-console-box {
    border-radius: 0;
    border: none;
    background-color: white;
    color: red;
    font-size: 12px;
    margin: 0;
    padding: 5px 5px 5px 5px;
}

#asciidoc-console-box a {
    color: red;
}

.site-wrap {
    min-height: 100%;
    min-width: 100%;
    background-color: inherit;
    /* Needs a background or else the nav will show through */
    
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    
    margin-top: 0px !important;
    /* remove to avoid nav shining through */
    
    padding-top: 0.5em;
    background-color: inherit;
}

.asciidoc-outline-navigation {
    /* critical sizing and position styles */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    /* non-critical appearance styles */
    
    list-style: none;
    background: lightgrey;
}

#asciidoc-navframe {
  width: 200px;
  height: 100%;
  border: 1px grey solid;
}

/* Nav Trigger */

.asciidoc-outline-nav-trigger {
    /* critical styles - hide the checkbox input */
    
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="asciidoc-outline-nav-trigger"] {
    /* critical positioning styles */
    
    position: fixed;
    left: 0px;
    top: 2px;
    z-index: 2;
    /* non-critical apperance styles */
    
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    background-size: contain;
    padding: 0;
    opacity: 0.8;
    -webkit-filter: drop-shadow(0 0 2px #fff);
    filter: drop-shadow(0 0 1px #fff);
}

body {
    overflow-x: hidden;
}

/* Make the Magic Happen */

.asciidoc-outline-nav-trigger + label,
.site-wrap {
    transition: left 0.2s;
}

.asciidoc-outline-nav-trigger:checked + label {
    left: 200px;
}

.asciidoc-outline-nav-trigger:checked ~ .site-wrap {
    left: 200px;
}