/*
 * Some default theme styling of scrollbars.
 * Changing themes will not change this,
 * just not worth the effort.
 */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 999px;
    border-radius: 999px;
    background: rgb(166, 166, 166);
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(206, 206, 206);
}

#asciidoc-preview-console {
    overflow: auto;
    position: fixed;
    border-top: 1px solid red;
    bottom: 0;
    background-color: white;
    margin: 0;
    width: 100%;
    max-width: 100%;
    max-height: 100px;
}

#asciidoc-console-box {
    border-radius: 0;
    border: none;
    background-color: white;
    color: red;
    font-size: 12px;
    margin: 0;
    padding: 5px 5px 5px 5px;
}

#asciidoc-console-box a {
    color: red;
}
