html, body {
    background-color: #47484b;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

ul {
    list-style: none;
    padding-left: 3px;
}

.level-0 {
    margin-left: 0px;
}

.level-1 {
    margin-left: 0.8em;
}

.level-2 {
    margin-left: 1.6em;
}

.level-3 {
    margin-left: 2.4em;
}

.level-4 {
    margin-left: 3.0em;
}

.level-5 {
    margin-left: 3.8em;
}

li {
  margin-top: 4px;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

li a:hover {
  /*color: #0083e8;*/
    color: #08c;
}
